<template>
    <div class="card p-3 text-center">
        <div id="divId"></div>
    </div>    
</template>

<script>
import 'bootstrap'
import 'bootstrap/dist/css/bootstrap.min.css'
import Plotly from 'plotly.js-dist'; 

export default {
    name: "PieChart",
    props:["labels","values"],
    data: () => ({
        width: 400,
        height:300
    }),
    mounted(){
        let data = [{
            values: [19, 26, 55],
            labels: ['Residential', 'Non-Residential', 'Utility'],
            type: 'pie'
        }];

        let layout = {
            width: this.width,
            height: this.height,
            title:"Electricity Use"
        };

        Plotly.newPlot("divId", data, layout);
    }
}
</script>