<template>
    <div class="row">
        <TodoItem v-for="(item,index) in items" v-bind:key="index" v-bind:text="item.title" v-bind:itemId="index" @todo-change="emitChange"/>
    </div>
</template>

<script>
import TodoItem from "./TodoItem.vue"
import 'bootstrap'
import 'bootstrap/dist/css/bootstrap.min.css'

export default {
    name: "TodoList",
    components: {
        TodoItem
    },
    props: ["items"],
    methods:{
        emitChange(checked,id){
            this.$emit('checkbox-changed',checked,id);
        }
    }
}
</script>