<template>
  <div class="bg-light p-3 my-1 w-100">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" :id="`todo-label-${itemId}`" v-model="checked" @change="$emit('todo-change',checked,itemId)" :disabled="disabled">
      <label class="custom-control-label" :for="`todo-label-${itemId}`">{{text}}</label>
    </div>
  </div>
</template>

<script>
import 'bootstrap'
import 'bootstrap/dist/css/bootstrap.min.css'

export default {
  name: 'TodoItem',
  props: {
    text: String,
    disabled:{
      type: Boolean,
      default: false
    },
    itemId: Number
  },
  data: () => ({
    checked: false
  })
}
</script>
